parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    excludePaths:
        - %rootDir%/../../../src/Infrastructure/UserData/UserDataDto.php
        - %rootDir%/../../../tests/bootstrap.php
